.intro {
  display: flex;
  text-align: center;
  flex-direction: column;
  align-content: center;
  margin: 0px 162px;
}
.intro {
  margin-top: 130px;
  margin-bottom: 50px;
}

.intro h1 {
  font-size: 40px;
}
.intro h3 {
  font-size: 20px;
  font-weight: 600;
  opacity: 0.5;
  margin-bottom: 130px;
}

.log-in {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.log-in__idpw {
  height: 70px;
  width: 610px;
  padding: 15px 5px;
  font-weight: 600;
  font-size: 30px;
  border: none;
  border-bottom: 2px solid rgba(0, 0, 0, 0.1);
}

.log-in__idpw:first-child {
  margin-bottom: 20px;
}

.log-in__idpw:nth-child(2) {
  margin-bottom: 50px;
}

.log-in__btn {
  background-color: #f6f6f6;
  width: 610px;
  height: 65px;
  border: none;
  margin-bottom: 10px;
}

.log-in__btn-a a,
.log-in__btn-a a:link,
.log-in__btn-a a:hover {
  text-decoration: none;
  color: black;
}
